<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/DashBoard/Dashboard">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    @* <span class="badge badge-primary">NEW</span> *@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Classes/Index">
                    <i class="nav-icon icon-drop"></i> Classes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MemberShipTypes/Index">
                    <i class="nav-icon icon-cursor"></i> Memberships
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PaymentTypes/Index">
                    <i class="nav-icon icon-pencil"></i> Payment
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/Members/Index">
                    <i class="nav-icon icon-star"></i> Members
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CheckInOut/Index">
                    <i class="nav-icon icon-star"></i> Check In/Out
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/AppointmentManagers/Index">
                    <i class="nav-icon icon-bell"></i> Appointment Manager
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Admin
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Staffs/Index">
                            <i class="nav-icon icon-puzzle"></i> Staff
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Locations/Index">
                            <i class="nav-icon icon-puzzle"></i> Location
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/MemberStatus/Index">
                            <i class="nav-icon icon-puzzle"></i> Member Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PaymentStatus/Index">
                            <i class="nav-icon icon-puzzle"></i> Payment Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PaymentMethods/Index">
                            <i class="nav-icon icon-puzzle"></i> Payment Method
                        </a>
                    </li>
                    
                </ul>
            </li>
            
            
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>